@font-face {
    font-family: 'xerodaregular';
    src: url('Font/xerodaregular-p7dwr-webfont.woff2') format('woff2'),
         url('Font/xerodaregular-p7dwr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'xerodaregular', sans-serif;
    overflow-x:hidden;
}
:root {
    --S_Letter: #B4E674;
    --B_Letter: rgb(124, 184, 233);
}
body {
    background: linear-gradient(to bottom, #212121, #292929);
}
hr{
    border: solid #212121 2px;
    
}

.floating-nav-inner{  
    overflow: hidden;
    position: absolute;
    top: 0;

    padding-top: 20px;
    height: 4vh;  
    text-align: center;
    width: 90vw;
}
.floating-nav-inner li{
    margin-left: 200px;
    list-style: none;
    display: inline-block;
    
}
#ab{
    color: var(--B_Letter);
    font-size: 1.5vh;
}
#abm{
    color: var(--B_Letter);
}
li a{
 
    text-decoration: none;
    color: var(--S_Letter);
    font-size:  1.5vh;
    font-weight: bold;
    margin-right: 2%;
}
/* width */
::-webkit-scrollbar {
    background-color: #292929;
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #212121;
    box-shadow: inset 0 0 5px #292929;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292929;
    border-radius: 10px;
  }

#intro-block h1{
    color: var(--B_Letter);
    font-size: 5vh;
    font-weight: lighter;
}
#intro-block{
    margin-top: 200px;

}
.Title_block{
    margin-left: 30vw;
    width: 40vw;
    text-align: center;
    color: var(--B_Letter);
    font-size: 2.5vh;
    font-weight: lighter;
}
.title_style{
    color: var(--S_Letter);
}
#Name_Tag{
    color: var(--S_Letter);
}
#Intro-pic-block img {
    width: 110%;  
    margin-left: -2vw;
    height: 30vw; 
    border-radius: 30%;
}
#Abt_box{
    margin-left: 18vw;
    width: 65vw;
    padding-bottom: 10vw;
}
.Abt_text{
    
    text-align: center;
    overflow: auto;
    font-size: 1.5vh;
    font-weight: lighter;
}
#Abt_left{
    margin-right: 0.5vw;
    margin-top: 5vh;
    color: white;
    float: left;
    width: 30vw;
}
.E_Name{
    color: aquamarine;
}
#Abt_right{
    margin-left: 0.5vw;
    color: var(--B_Letter);
    float: right;
    width: 30vw;
}
#Selfie{
    height: 40vh;


}
.project-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    pointer-events: none;
    height: 60vh;
    padding-top: 20vh; 


}
.project-bubble {
    width: 17vw;
    padding-bottom: 70px;
    background: #1616168c;
    border-radius: 20%;
    margin: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-shadow: 1px 0px 10px 10px var(--S_Letter);
}
@media (max-width: 1900px) {
    .project-container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 200vh;
    }
    .project-bubble {
        width: 80vw;
        height: auto;
        margin: 10px auto;
    }
    embed{
        height: 50vh;
    }
    .Skills_Secs{
        margin-top: -70vh;
    }
    #Skills{
        
        margin-left: 10vw;
        width: 80vw;
        padding-bottom: 10vw;
    
    }
    #Skills ul{
        gap: 10px;
        flex-direction: column;
        text-align: center;
        margin-left: -1.5vw;
    }
    footer {
        margin-left: -30px; 
       }
       footer p{
        margin-left: 12vw;
       }
       #contact {
        margin-left: -12vw;
        padding-right: 20vw;
        
        width: 80%;
        height: 20vh;
        padding: 20px;
        border-radius: 50% 50% 0 0;
        background-color: var(--S_Letter);
        box-shadow: 0px 0px 10px 0px var(--B_Letter);
        color: teal;
        padding-bottom: 50px;
        
    }
    
    #contact p {
        text-align: center;
        justify-content: center;
        font-size: 18px;
        margin-bottom: 10px;
        
    }
    #contact a {
        text-decoration: none;
        color: var(--B_Letter);
        font-size: 18px;
        font-weight: bold;
    }
    .floating-nav-inner{  
        overflow: hidden;
        position: absolute;
        top: 0;
        padding-top: 20px;
        height: 8vh;  
        width: 100%;
       
    }
    .floating-nav-inner ul li{
        list-style: none;
        display: inline-block;
        padding-right: 30px;
        

    }
    #ab{
        color: var(--B_Letter);
        font-size: 1.5vh;
    }
    .floating-nav-inner ul li a{
        text-decoration: none;
        color: var(--S_Letter);
        font-size:  1.5vh;
        font-weight: bold;
        margin-left: -110px;
       
    }
    #Cont_block{
        margin-left: -20px;
    }
}

.project-bubble h3 {
    margin-top: 3vh;
    
}



.res_container{
    height: 40vh;
    margin-left: 28vw;
    width: 45vw;
    padding-bottom: 20vw;
}
.Res_text{
    float: left;
    overflow: auto;
    font-size: 1.5vh;
    font-weight: lighter;
}
#Res_left{
    
    margin-top: 5vh;
    color: white;
    float: left;
    width: 15vw;
   
}
#Res_right{
    
    color: var(--B_Letter);
    margin-left: 3rem;
    width: 30vw;
}

h3{
    color:var(--S_Letter)
}
.project-bubble p{
    color: var(--B_Letter);
}
.Symbol{
    background-color: greenyellow;
    width: 3vw;
    height: 3vh;
    font-size: 1vh    ;
    
}
.Num{
    background-color: aqua;
    width: 3vw;
    height: 3vh;
    margin-left:.5vw;
    font-size: 1vh;
}
.backspace{
    background-color: red;
    width: 3vw;
    height: 3vh;
    font-size: 1vh;
    margin-left: 10px;
}
input{
    width: 5v;
    height: 5vh;
    background-color: aquamarine;
    font-size: 2vh;
    margin-left: .5vw;
}
#display{
    width: 7vw;
    height: 2vh;
    background-color: aquamarine;
    font-size: 2vh;
    margin-left: .5vw;
    text-align: right;
    
}
#ETLink{
    color: var(--B_Letter);
    padding-top: 2vh;
    text-align: center;
    height: 6vh;
    border-radius: 100%;
    background-color: var(--S_Letter);
    font-size: 2vh;
    font-weight: bold;
    margin-right: 2%;
    pointer-events: all;

}


table{
    width: 4vw;
    height: 2%;
    margin-top: 1vh;
    border: 1px solid white;
    border-collapse: collapse;
}
#Calculator{
    pointer-events: all;
}



img{
    
    width:15vw;
    height:20vh;
    margin-top: 0vw;    
}
@media screen and (max-height: 900px), screen and (max-width: 800px) {

    table{

        opacity: 1;
    } 
    #display{
        opacity:1;
    }
}
@media screen and (max-height: 900px), screen and (max-width: 1900px) {
    

    .project-container{
        margin-top: -20vh;
    }
    img{
        width: 20vw;
        height: 8vh;
    }
    *{
        max-width: 100%;
      
    }
    #key-pad{
        float:left;
        margin-left: 1.1vw;
    }
    .project-bubble {
        padding-left: 5vw;
        padding-right: 5vw;
        width: 22vw;
        height: 35vh;
        background: #1616168c;
        border-radius: 20%;
        margin: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .project-bubble p{
        font-size: 2vh;
        color: var(--B_Letter);
    }
    
}
@media screen and (max-width:800){
    

#Skills{
    margin-top: 10vh;
    margin-left: -13vw;
    width: 80vw;
    padding-bottom: 10vw;

}
}
#Skills ul{
    list-style: none;
    font-size: 3vh;
    color: var(--B_Letter);
    display: flex;
    justify-content: space-around;
    padding-left: 0;

}
#Education{
    border-radius: 20%;
    text-align: center;
    padding:10px;
    color: white;
    font-size: 3vh;
    background-color: var(--S_Letter);
    width: 60%;
    margin-left: 20%;
}
#contact {
    margin-left: 10%;
    width: 80%;
    height: 20vh;
    padding: 20px;
    border-radius: 50% 50% 0 0;
    background-color: var(--S_Letter);
    box-shadow: 0px 0px 10px 0px var(--B_Letter);
    color: teal;
    padding-bottom: 50px;
    
}

#contact p {
    text-align: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 10px;
}
#contact a {
    text-decoration: none;
    color: var(--B_Letter);
    font-size: 18px;
    font-weight: bold;
}

.footer {
    height: 40px;
    margin-left: 20px;
    background-color: #1616168c;
    color: #fff;
    text-align: center;
 

    position: fixed;
    bottom: 0;
    width: 110%;
}
.footer p{
    margin-right: 8vw;
    top:0;
}
@media screen and (max-width:1500px) {
    .floating-nav-inner {
        display: none;
    }
    #menu {
        display: flex;
    }
}
@media screen and (max-width:600px) {
    .NavBar{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
}
@media screen and (min-width:1500px) {
    #menu{
    display:none;
}
}

.menu{
    position: absolute;
    display: inline-block;
    right: 0%;
    margin-right: -50px;

    width: 160px;
}

.menu-icon {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    z-index: 1000;
}
.menu-icon span{
    width: 100%;
    height: 2px;
    background-color: var(--S_Letter);
    transition: all 300ms ease-in-out;
}
.m-links {
    position: absolute;
    width: fit-content;
    max-height: 0%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: 1000;
}
.m-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--S_Letter);
    text-decoration: none;
    transition: all 300ms ease-in-out;
    z-index: 1000;
}

.m-links li {
    margin-right: 50px;
    list-style: none;
    z-index: 1000;
}

.m-links.open{
    max-height: 300px;
}
.menu-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.menu-icon.open span:nth-child(2) {
    opacity: 0;
}
.menu-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.menu-icon span:first-child{
    transform: none;
}
.menu-icon span:first-child{
    opacity: 1;
}
.menu-icon span:first-child{
    transform: none;
}