@font-face {
    font-family: 'xerodaregular';
    src: url('Font/xerodaregular-p7dwr-webfont.woff2') format('woff2'),
         url('Font/xerodaregular-p7dwr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    max-width: 100%;
  
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: 'xerodaregular', sans-serif;
    overflow-x:hidden;
}
:root {
    --S_Letter: #B4E674;
    --B_Letter: rgb(124, 184, 233);
}
body {
    background: linear-gradient(to bottom, #212121, #292929);
}
hr{
    border: solid #212121 2px;
}

.floating-nav-inner{
    float: right;   
    height: 6vh;
    padding-right:  3vw;
    width: 100vw;
    margin-top: -5vh;
   
}
li{
    list-style: none;
    display: inline-block;
    padding-left: 50px;
    float: right;
}
#ab{
    color: var(--B_Letter);
    font-size: 1.5vh;
}
li a{
    text-decoration: none;
    color: var(--S_Letter);
    font-size:  1.5vh;
    font-weight: bold;
    margin-right: 2%;
}
/* width */
::-webkit-scrollbar {
    background-color: #292929;
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #212121;
    box-shadow: inset 0 0 5px #292929;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292929;
    border-radius: 10px;
  }

#intro-block h1{
    color: var(--B_Letter);
    font-size: 5vh;
    font-weight: lighter;
}
.Title_block{
    margin-top: 5vh;
    margin-left: 30vw;
    width: 40vw;
    text-align: center;
    color: var(--B_Letter);
    font-size: 2.5vh;
    font-weight: lighter;
}
.title_style{
    color: var(--S_Letter);
}
#Name_Tag{
    color: var(--S_Letter);
}
#Intro-pic-block img {
    width: 110%;  
    margin-left: -2vw;
    height: 30vw; 
    border-radius: 30%;
}
#Abt_box{
    margin-left: 18vw;
    width: 65vw;
    padding-bottom: 10vw;
}
.Abt_text{
    
    text-align: center;
    overflow: auto;
    font-size: 1.5vh;
    font-weight: lighter;
}
#Abt_left{
    margin-right: 0.5vw;
    margin-top: 5vh;
    color: white;
    float: left;
    width: 30vw;
}
#Abt_right{
    margin-left: 0.5vw;
    color: var(--B_Letter);
    float: right;
    width: 30vw;
}
.project-container {
    object-fit: cover;
    object-position: center;
    display: flex;
    gap: 2vmin;
    position:absolute; left: 50%; 
    pointer-events: none;
    height: 100vh;
    padding-top: 20vh; 

}
.project-bubble {
    
    width: 22vw;
    height: 60vh;
    background: #1616168c;
    border-radius: 20%;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-shadow: 0px 0px 10px 3px var(--S_Letter);
}

.project-bubble h3 {
    margin-top: 3vh;
}/*
#Pro2,#Pro4{


}
#Pro1,#Pro5{
    float:right;
    padding-bottom: 10px;


}
#Pro5{
    margin-top: -48vh;

}
#Pro3{
    margin-left: 35vw;
    
}
#Pro3 h3{
    padding-top: 30px;
}*/
#resume{
    margin-top: 50vw;
}
#resume hr{
    margin-top: 50vh;

}
.res_container{

    margin-left: 28vw;
    width: 45vw;
    padding-bottom: 10vw;
}
.Res_text{
    float: left;
    overflow: auto;
    font-size: 1.5vh;
    font-weight: lighter;
}
#Res_left{
    
    margin-top: 5vh;
    color: white;
    float: left;
    width: 15vw;
   
}
#Res_right{
    
    color: var(--B_Letter);
    margin-left: 3rem;
    width: 30vw;
}

h3{
    color:var(--S_Letter)
}
.project-bubble p{
    color: var(--B_Letter);
}
.Symbol{
    background-color: greenyellow;
    width: 3vw;
    height: 3vh;
    font-size: 1vhqa    ;
    
}
.Num{
    background-color: aqua;
    width: 3vw;
    height: 3vh;
    margin-left:.5vw;
    font-size: 1vh;
}
.backspace{
    background-color: red;
    width: 3vw;
    height: 3vh;
    font-size: 1vh;
    margin-left: 10px;
}
input{
    width: 5v;
    height: 5vh;
    background-color: aquamarine;
    font-size: 2vh;
    margin-left: .5vw;
}
#display{
    width: 7vw;
    height: 2vh;
    background-color: aquamarine;
    font-size: 2vh;
    margin-left: .5vw;
    text-align: right;
    
}
#ETLink{
    color: var(--B_Letter);
    padding-top: 2vh;
    text-align: center;
    height: 6vh;
    border-radius: 100%;
    background-color: var(--S_Letter);
    font-size: 2vh;
    font-weight: bold;
    margin-right: 2%;
    pointer-events: all;

}


table{
    width: 4vw;
    height: 2%;
    margin-top: 1vh;
    border: 1px solid white;
    border-collapse: collapse;
}
#Calculator{
    pointer-events: all;
}




img{
    
    width: 20vw;
    height:20vh;
    margin-top: 0vw;    
}
@media screen and (max-height: 900px), screen and (max-width: 800px) {
    table{

        opacity: 1;
    } 
    #display{
        opacity:1;
    }
}
@media screen and (max-height: 900px), screen and (max-width: 1900px) {
    .Title_block{
        margin-top: 20vh;
    }

    .project-container{
        margin-top: -20vh;
    }
    img{
        width: 20vw;
        height: 8vh;
    }
    *{
        max-width: 100%;
      
    }
    #key-pad{
        float:left;
        margin-left: 1.1vw;
    }
    .project-bubble {
        padding-left: 5vw;
        padding-right: 5vw;
        width: 22vw;
        height: 35vh;
        background: #1616168c;
        border-radius: 20%;
        margin: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .project-bubble p{
        font-size: 1vh;
        color: var(--B_Letter);
    }
    
}
#contact {
    margin-left: 10%;
    width: 80%;
    height: 20vh;
    padding: 20px;
    border-radius: 50% 50% 0 0;
    background-color: var(--S_Letter);
    box-shadow: 0px 0px 10px 0px var(--B_Letter);
    color: teal;
    padding-bottom: 50px;
    
}

#contact p {
    text-align: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 10px;
}
#contact a {
    text-decoration: none;
    color: var(--B_Letter);
    font-size: 18px;
    font-weight: bold;
}

.footer {
    height: 10px;
    margin-left: 20px;
    background-color: #1616168c;
    color: #fff;
    text-align: center;
    padding: 10px;

    position: fixed;
    bottom: 0;
    width: 110%;
}
.footer p{
    margin-bottom: 40px;
}