:root {
    --S_Letter: #B4E674;
}
body {
    background: linear-gradient(to bottom, #212121, #292929);
}

.floating-nav-inner{
    float: right;   
    height: 6vh;
    padding-right:  3vw;
    width: 100vw;
}
li{
    list-style: none;
    display: inline-block;
    padding-left: 50px;
    float: right;
}
#ab{
    color: rgb(2, 86, 165);
    font-size: 1.5vh;
}
li a{
    text-decoration: none;
    color: #B4E674;
    font-size:  1.5vh;
    font-weight: bold;
    margin-right: 2%;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px violet;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 10px;
  }

#intro-block p{
    color: white;
    font-size: 2vh;
    font-weight: lighter;
}
#intro-block h1{
    color: white;
    font-size: 5vh;
    font-weight: lighter;
}
.Title_block{
    margin-top: 5vh;
    margin-left: 30vw;
    width: 40vw;
    text-align: center;
}
#Name_Tag{
    color: var(--S_Letter);
}
#Intro-pic-block img {
    width: 110%;  /* Change this to your desired width */
    margin-left: -2vw;
    height: 30vw;  /* This will maintain the aspect ratio of the image */
    border-radius: 30%;
}