:root {
    --S_Letter: #B4E674;
    --B_Letter: rgb(124, 184, 233);
}
body {
    background: linear-gradient(to bottom, #212121, #292929);
}
hr{
    border: solid #212121 2px;
}

.floating-nav-inner{
    float: right;   
    height: 6vh;
    padding-right:  3vw;
    width: 100vw;
}
li{
    list-style: none;
    display: inline-block;
    padding-left: 50px;
    float: right;
}
#ab{
    color: var(--B_Letter);
    font-size: 1.5vh;
}
li a{
    text-decoration: none;
    color: var(--S_Letter);
    font-size:  1.5vh;
    font-weight: bold;
    margin-right: 2%;
}
/* width */
::-webkit-scrollbar {
    background-color: #212121;
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #212121;
    box-shadow: inset 0 0 5px #292929;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292929;
    border-radius: 10px;
  }

#intro-block h1{
    color: white;
    font-size: 5vh;
    font-weight: lighter;
}
.Title_block{
    margin-top: 5vh;
    margin-left: 30vw;
    width: 40vw;
    text-align: center;
    color: white;
    font-size: 2.5vh;
    font-weight: lighter;
}
.title_style{
    color: var(--S_Letter);
}
#Name_Tag{
    color: var(--S_Letter);
}
#Intro-pic-block img {
    width: 110%;  
    margin-left: -2vw;
    height: 30vw; 
    border-radius: 30%;
}
#Abt_box{
    margin-left: 18vw;
    width: 65vw;
    padding-bottom: 10vw;
}
.Abt_text{
    
    text-align: center;
    overflow: auto;
    font-size: 1.5vh;
    font-weight: lighter;
}
#Abt_left{
    margin-right: 0.5vw;
    margin-top: 5vh;
    color: white;
    float: left;
    width: 30vw;
}
#Abt_right{
    margin-left: 0.5vw;
    color: var(--B_Letter);
    float: right;
    width: 30vw;
}
.project-bubble {
    width: 22vw;
    height: 50vw;
    background: #1616168c;
    border-radius: 10%;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-bubble h3 {
    margin-top: 30%;
}
#Pro2,#Pro4{
    float: right;

}
#Pro1,#Pro5{
    float: left;

}
#Pro5,#Pro4{
    margin-top: -10vw;

}
#Pro3{
    margin-left: 35vw;
    margin-top: 30vw;
}
#resume{
    margin-top: 50vw;
}
.res_container{

    margin-left: 32vw;
    width: 45vw;
    padding-bottom: 10vw;
}
.Res_text{
    float: left;
    overflow: auto;
    font-size: 1.5vh;
    font-weight: lighter;
}
#Res_left{
    
    margin-top: 5vh;
    color: white;
    float: left;
    width: 15vw;
   
}
#Res_right{
    
    color: var(--B_Letter);
    float: right;
    width: 30vw;
}
#Res_right ul li{
    float:left;
}